let mapleader = "<Space>"

" Use relative line numbers by default
set number relativenumber

" Toggle between relative and absolute numbers using <leader>#
nnoremap <leader># :set relativenumber!<CR>

" search case-insensitive if search term is all lowercase
set ignorecase smartcase

" use the system clipboard
set clipboard=unnamed

" Show a few lines of context around the cursor. Note that this makes the
" text scroll if you mouse-click near the start or end of the window.
set scrolloff=10
